.card {
  margin-top: 20px;

}

.card:hover .editPostBtn {
  visibility: visible;
  position: absolute;
  top: 15px;
  right:15px;
}

.editPostBtn {
  visibility: hidden;
  position: absolute;
  top: 15px;
  right:15px;
}
