.card {
  margin: 10px;
}

.postDate {
  font-size: 12px;
  color: grey;
  position: absolute;
  top: 5px;
  right: 5px;
}

.card:hover .editPostBtn {
  visibility: visible;
}

.card .editPostBtn {
  visibility: hidden;
  position: absolute;
  top: 15px;
  right: 15px;
}

#editFormBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
